

body{
    display: flex;
    justify-content: center;
    font-family: Helvetica, Arial;
    background-color: antiquewhite;
    height: 1300px;
}

.Article[role=main]{
    width: 100%;
}
.col-lg-12{
    width: 60%;
}

.padding-left{
    height: 800px;
    width: 755px !important;
    justify-content: center;
}

.col-md-16{
    margin: 0 auto;
    width: 1000px;
}

.banner{
    width: 1000px;
    height: 2px;
}

.banner-size{
    width: 755px;
    height: 400px;
}

.container{
    margin-top: 5px;
    width: 375px;
    height: 500px;
}
.container2{
    width: 300px;
    height: 500px;
    margin-top: 0%;
}
.container3{
    width: 300px;
    height: 500px;
    margin-top: 0%;
    float: right;
}

.card-container2{
    width: 300px;
    height: 500px;
    position: relative;
    perspective:1000px;
}

.card-container{
    width: 375px;
    height: 500px;
    position: relative;
    perspective:1000px;
}

.text{
    font-size: 1.5rem !important;
}

.cover, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem !important;
    border-radius: .4rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.18);
    transform-style: preserve-3d;
}

.cover{
    background-color: antiquewhite;
    transform: rotatey(0deg);
}

.card-container:hover .cover{
    transform: rotatey(180deg);
}

.card-container2:hover .cover{
    transform: rotatey(180deg);
}

.back{
    background-color: antiquewhite;
    transform: rotatey(-180deg) translateZ(0);
}

.card-container:hover .back{
    transform: rotatey(0deg);
}

.card-container2:hover .back{
    transform: rotatey(0deg);
}

.card-size{
    width: 375px;
    height: 500px;  
}

.card-size2{
    width: 300px;
    height: 500px;  
}

#sidebar_left{
    width:140px;
    height:1350px;
    text-align:center;
    float: left;
    padding-right: 5px;
}

#sidebar_right{
    width:140px;
    height:1350px;
    text-align:center;
    float: right;
    padding-left: 5px;
}

.sidebar_size{
    width:140px;
    height:910px;
}

.top{
    margin-top: 500px;
}

.banner-size2{
    padding-left: 127px;
    margin-top: 6px;
    width: 500px;
    height: 500px;
}